* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.about,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.about-image {
  float: left; /* floats the image to the left of the text */
  margin-right: 10px; /* adds some space between the image and text */
}

.about-text {
  overflow: auto; /* clears the float */
}

.founder-image {
  float: left; /* floats the image to the left of the text */
  margin-right: 10px; /* adds some space between the image and text */
}

.founder-text {
  overflow: auto; /* clears the float */
}


.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
